<!DOCTYPE html>
<html>

<head>
    <title>
        Game
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/281/281532.png" />
    <link rel="stylesheet" href="css/styles.css">

    <link href='https://fonts.googleapis.com/css?family=Gothic A1' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/7fc995eada.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="full_screen">
        <div class="game_ui_content">
            <div class="top_screen">
                <div class="menu_hub">
                    <!-- Menu Icons, top left -- clickable -> opens pop-up -->

                   
                    <div class="character_icon icons">
                        <img class="icons" src="https://cdn-icons-png.flaticon.com/512/281/281532.png" alt="ll">

                    </div>
                    <div class="mission_icon icons">
                        <img class="icons" src="https://cdn-icons-png.flaticon.com/512/281/281532.png" alt="ll">

                    </div>

                </div>

                <div class="nav_hub">
                    <!-- Compass -- spins, map icon click -> open map pop-up -->
                    <div class="map_icon">
                        <!-- <img id="img_map_icon" class="icons" src="https://cdn-icons-png.flaticon.com/512/281/281532.png"
                            alt="ll"> -->
                            <i id="img_map_icon" class="fa-solid fa-map icons"></i>

                    </div>
                    <div class="compass">
                        <img id="img_compass" src="../assets/compass_rough_first.png" alt="ll">


                    </div>
                    

                </div>
            </div>

            <div class="side_bar">
                <!-- Missions slide in left from right side  -->

                <div class="mission_alert">
                    <img class="mission icons" src="../assets/scroll_first_havnt_started.png" alt="ll">

                </div>
            </div>
            <div class="bottom_screen">
                <!-- health -->
                <div class="bottom_screen_content">
                <div class="status_hub">
                    <div class="health">
                        <img class="icons" src="../assets/heat - not pixelated.png" alt="ll">

                    </div>
                    
                </div>
                <div>
                    <div class="hot_bar">

                   
                    <div class="hot_bar_slot"></div>
                    <div class="hot_bar_slot"></div>
                    <div class="hot_bar_slot"></div>
                    <div class="hot_bar_slot"></div>

                </div>


                </div>
                <div class="inventory_icon icons">
                    <img class="icons" src="../assets/compass_rough_first.png" alt="ll">
                </div>
            </div>

            </div>
        </div>

    </div>
</body>

</html>